.compositions_metabox_div {
    margin: 15px 0 15px 15px;
    display: inline-block;
    width: 45%;
}

.compositions_metabox_div label {
    display: block;
    font-weight: 700;
    line-height: 1.8em;
    font-size: 1.1em;
}

.compositions_metabox_div input {
    min-width: 35%;
}

.compositions_metabox_div.wide {
    display: block;
    width: 100%;
}

.compositions_metabox_div.wide label {
    min-width: 100%;
    margin-right: 0;
    display: block;
}